/**
 $Id: default.css 11434 2008-10-28 10:48:51 +0000 (mar., 28 oct. 2008) fragile_be $
 **/

 body {
    direction: ltr;
}

#campusBannerRight {
    float: left;
    text-align: left;
}

#campusBannerLeft {
    float: right;
    text-align: right;
}

#userBannerRight {
    float: left;
    text-align: left;
}

#userBannerLeft {
    float: right;
    text-align: right;
}

#courseBanner #course {
    float: right;
    text-align: right;
}

#courseBanner #courseToolList {
    float: left;
    text-align: left;
}

#courseBannerRight {
    float: left;
    text-align: left;
    margin: 0;
}

#courseBannerLeft {
    float: right;
    text-align: right;
}

#breadcrumbLine .breadcrumbTrails {
    float: right;
}

#breadcrumbLine #toolViewOption {
    float: left;
    text-align: left;
}

#campusFooterRight {
    float: left;
    text-align: left;
    padding: 0;
}

#campusFooterLeft {
    float: right;
    text-align: right;
    padding: 0;
}