

<!--Type an introduction text for your home page, add HTML tags, include an image...<br>
<br>-->


<br>
<img src="image.jpg" border="0" 
<br>
<br>
<b>Welcome on Soandso Virtual Campus</b>
<br>
<br>
Introduction text (...).



