body,h1,h2,h3,h4,h5,h6,p,blockquote,td,ol,ul {font-family: arial, helvetica, sans-serif;}
.topBanner a { text-decoration:none }
.topBanner a:hover { text-decoration:underline;color:white}
.topBanner td { border-top:  solid White 1px }
.alternativeBgLight { background-color: #F5F5F5; }
.alternativeBgDark 	{ background-color: #E6E6E6; }
.forms 		{ background-color : #E6E6E6; letter-spacing: normal; text-align: justify; text-indent: 3pt; word-spacing: normal; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px ; }
.formsTips	{ text-align: justify; text-indent: 15pt; word-spacing: normal; }
INPUT.forms	{ letter-spacing: normal; text-align: justify; text-indent: 3pt;	word-spacing: normal;	padding-top: 0px;	padding-right: 0px;	padding-bottom: 0px;	padding-left: 0px;}
.warn {	border: thin double Silver;	margin-left: 15px;	margin-right: 15px;  font-family: serif;  color: Red;  padding-left: 25px;    }
.typeElement {border: thin sol id #E6E6E6;
margin-left: 15px;	margin-right: 25px;
padding-left: 25px;
color:#003399 }
.claro_listInTable tr:hover {background-color: #CCCCCC;}


/* Claroline table style */

.claroTable td, th 
{
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th,  .claroTable th.superHeader 
{
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a
{
	color: #FFFFFF;
}


.claroTable th.headerY, .claroTable .headerY th, 
.claroTable th.headerX, .claroTable .headerX th
{
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX 
{
	background-color: #DDDEBC;
}

.claroTable tbody tr:hover {background-color: #E3E3E3;}
.noHover {background-color: #ffffff;}

.claroIntroSection { background-color: #F5F5F5; }

/* Claroline message box */

.claroMessageBox
{
	background-color: #FFCC33;
}

.success
{
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 25px;
	background-color: #90FF90
}
.info
{
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 25px;
	background-color: #CCFF99;
}
.warning
{
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 25px;
	background-color: #FFCC33;
}
.error
{
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 25px;
	background-color: #FF6060;
}

/* Claroline links */
a img
{
	border:none;
	text-decoration: none;
}
a | img
{
	border: 0px;
	text-decoration: none;
}


a:link, a:active, a:visited
{
	color: #000066;
}


/*Claroline invisible links */

.invisible 
{
	color: #999999;
}

a.invisible, a:link.invisible, a:visited.invisible
{
	color: #999999;
}

/*.claroButton
{
	color:Black;
	background:	#DDDEBC;
	border-right: gray 2px solid;
	border-bottom: gray	2px	solid;
	border-top:	#eee 2px solid;
	border-left: #eee 2px solid;
	padding: 1px 2px 1px 2px;
	margin: 3px 3px 4px 3px;
	text-decoration: none;
}

a.claroButton {
	line-height: 200%;
}

a.claroButton
{
	color:Black;
}

.claroButton:hover
{
	cursor:pointer;
}
*/


.HelpText
{
    color:gray
}