/******************************************************************************
                              MAIN HTML TAGS STYLE
 ******************************************************************************/

body
{
	background-color:#E0FFFF;
	color:#000080;
	font-family: tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-weight: bold;
	padding:0;
}

a:link, a:active, a:visited {
	color: #4169E1;
	text-decoration: none;
}

a:hover {
	color: #000;
}

a img {
	border:none;
	text-decoration: none;
}

/******************************************************************************
                              CLAROLINE TOP BANNER
 ******************************************************************************/

 
 /*----------------------------------------------------------------------------
                              MAIN BANNER SETTINGS
 ----------------------------------------------------------------------------*/

#topBanner{}


#topBanner hr
{
	display: none;
}

 /*----------------------------------------------------------------------------
                                  CAMPUS LINE
 ----------------------------------------------------------------------------*/
div#platformBanner
{
	font-size: 120%;
	font-weight: bold;
	color: #FFF;
	background-color:#000CD;
	background-image: url('aqua/blueMotive.jpg');
	background-repeat: repeat;
	margin-bottom: 1px;
	padding: 4px;
}

#platformBanner a,
#platformBanner a:active,
#platformBanner a:link,
#platformBanner a:visited
{
	text-decoration: none;
   	color: #FFF;
}

#platformBanner a:hover
{
	color: #000;
}

div#siteName
{
	float: left;
	text-align: left;
}

div#institution
{
	text-align: right;
}

 /*----------------------------------------------------------------------------
                                   USER LINE
 ----------------------------------------------------------------------------*/
div#userBanner
{
	background-color:#E0FFFF;
	background-image: url('aqua/gradiantBlue600.jpg');
	background-repeat: repeat-y;
	color: #ffffff;
	font-size: 80%;
	padding: 4px;
}

#userBanner a,
#userBanner a:active,
#userBanner a:link,
#userBanner a:visited
{
	text-decoration: none;
    color: #FFF;
}

#userBanner a:hover
{
    color: #FFF;
	text-decoration: underline;
}
div#userLinks
{
	text-align: left;
}

 /*----------------------------------------------------------------------------
                                  COURSE LINE
 ----------------------------------------------------------------------------*/

#courseBanner
{
   	padding: 4px;
	background-color:#E0FFFF;
	background-image: url('aqua/gradiantBlue600.jpg');
	background-repeat: repeat-y;
	color: #036;
	font-weight:bold;
}

#course
{
	text-align: left;
}

#course span
{
   	display: block;
}

#courseToolList
{
	float: right;
    text-align: right;
}

#courseBanner .courseName {
	font-size: 120%;
}

#courseBanner .courseName a,
#courseBanner .courseName a:active,
#courseBanner .courseName a:link,
#courseBanner .courseName a:visited
{
	color: #191970;
	text-decoration: none;
}

#courseBanner .courseName a:hover
{
	color: #fff;
}

#courseBanner .courseCode {
	font-size: 80%;
}

#courseBanner form
{
	padding: 5px;
	margin: 0;
}
 /*----------------------------------------------------------------------------
                                  BREAD CRUMB TRAIL
 ----------------------------------------------------------------------------*/

#breadCrumbLine
{
	font-size: 80%;
}

#breadCrumbLine hr
{
	display: none;
}

#breadCrumb{}

#breadCrumb a,
#breadCrumb a:active,
#breadCrumb a:link,
#breadCrumb a:visited
{
	color:#191970;
}

#breadCrumb a:hover
{
    color:#4169E1;
}

#toolViewOption
{
	float: right;
	text-align: right;
}

/******************************************************************************
                             CLAROLINE BODY
 ******************************************************************************/

claroBody {}





/******************************************************************************
                              CLAROLINE FOOTER
 ******************************************************************************/

#footer
{
	font-size: 80%;
}

#footer hr
{
	border: 0;
	height: 1px;
	background-color: gray;
}

#platformManager
{
	float: left;
}

#poweredBy
{
	float: right;
	text-align: right;
}

#courseManager
{
	margin: auto;
	text-align: center;
}


/******************************************************************************
                             CLAROLINE TABLE
 ******************************************************************************/

/* Uniformize claroline table format. The class provide 3 header type
 *
 *     - superHeader : allowing to define table title above the column header
 *     - headerX : define header in the X axis for each column
 *     - headerY : define header in the Y axis for each rank
 * 
 * Example of table using a super header and header in X axis
 *
 * <table class="claroTable">
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * <tr class="headerX">
 * <th>Firstname</th>
 * <th>Lastname</th>
 * <th>Birthdate</th>
 * </tr>
 * 
 * <tbody>
 * 
 * <tr>
 * <td>Hugues</td>
 * <td>Peeters</td>
 * <td>1969-09-27</td>
 * </tr>
 * <tr>
 * ...
 * </tr>
 * 
 * </tbody>
 * 
 * </table>
 * 
 * Example of table using header in Y axis
 * 
 * 
 * <table class="claroTable">
 *
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Firstname</th>
 * <td>Hugues</td>
 * <td> ...  </td>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Lastname</th>
 * <td>Peeters</td>
 * <td> ...  </td>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Birthdate</th>
 * <td>1969-09-27</td>
 * <td> ...  </td>
 * </tr>
 *
 * </table>
 */

.claroTable td, th {
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th, .claroTable th.superHeader {
        
	color: white;
	background-color: #4169E1;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a,
.claroTable .superHeader a:link,
.claroTable .superHeader a:visited {
	color: white;
}


.claroTable th.headerY, .claroTable .headerY th, 
.claroTable th.headerX, .claroTable .headerX th {
        
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX {
	 background-image: url('aqua/gradiantDarkblue200.jpg');
	 background-repeat: repeat-x;
	 color:#191970;
	 font-weight: bold;
}

.claroTable .headerX a{
	color:#191970;
}

.claroTable .headerX a:hover{
	color:#ffffff;
	
}

.claroTable tbody tr:hover {
	background-color: #6495ED;
}
.noHover {
	background-color: white;
}


/******************************************************************************
                             VARIOUS CLAROLINE CSS CLASS
 ******************************************************************************/

/*
 * 'claroMessageBox' is used to display all messages from the platform like 
 * action confirmation, parameter request, warning mesage...
 * Things that are usually displayed in a dialog box into offline applications
 */ 
 
.claroMessageBox {
  background-color: #B0E0E6;
  color: #000000;
  border:1px solid #666;
}

.claroIntroSection { 
	background-color: #F5F5F5;
}

/*
 * 'invisible' is generally attached to element that shouldn't be visible into 
 * common user interface but which are visible in course manager or platform 
 * administrator screen, showing that the element is deactivated or isn't 
 * visible fo the other users
 */

.invisible  {
	color: #999999;
}

.invisible a, 
.invisible a:link, 
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible{
	color: #999999;
}


/* 'correct' is attached to element that must be highlighted as correct
	example : a good score in exercices
*/
.correct {
	color: #009900;
}

/* 'error' is attached to element that must be highlighted as correct
	example : a wrong score in exercices
	example : an error message
*/
.error {
	color: #990000;
}

/*
'highlight'
*/
.highlight {
 color: #0000cc;
 font-weight: bold;
}


/*
 * 'rightMenu' is mainly use in the platform home page
 */

.claroRightMenu  {
  color: #000000;
  background-color: #4169E1;

}

.claroRightMenu a,
.claroRightMenu a:link,
.claroRightMenu a:visited {
		color:#ffffff;
}

.claroRightMenu a:hover {
		color:#000000;
}



.HelpText {
    color:gray
}


/*
 * MOOSH ATTIC -- could be nice if one can put some order here ...
 */
 
.alternativeBgLight { background-color: #F5F5F5; }
.alternativeBgDark 	{ background-color: #E6E6E6; }
.forms 		{ background-color : #E6E6E6; letter-spacing: normal; text-align: justify; text-indent: 3pt; word-spacing: normal; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px ; }
.formsTips	{ text-align: justify; text-indent: 15pt; word-spacing: normal; }
INPUT.forms	{ letter-spacing: normal; text-align: justify; text-indent: 3pt;	word-spacing: normal;	padding-top: 0px;	padding-right: 0px;	padding-bottom: 0px;	padding-left: 0px;}
.warn {	border: thin double Silver;	margin-left: 15px;	margin-right: 15px;  font-family: serif;  color: Red;  padding-left: 25px;    }
.typeElement { border: thin sol id #E6E6E6; margin-left: 15px;	margin-right: 25px;padding-left: 25px;color:#003399 }
.claro_listInTable tr:hover {background-color: #CCCCCC;}
