/* 
	default stylesheet, mainly used in older browser like ns4 or ie4	
*/

h1,h2,h3,h4 { font-weight: bold; }
h1{ font-size: 120%; }
h2{ font-size: 110%; }
h3{ font-size: 100%; }
h4{ font-size: 90%; }
h5{ font-size: 80%; }
h6{ font-size: 70%; }

a,
a:active,
a:link,
a:visited
{ 
	color: #006;
}

body { background: white; }

/*Claroline tables */

.claroTable td, th {
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th,  .claroTable th.superHeader {
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a{
	color: #FFFFFF;
}


.claroTable th.headerY, .claroTable .headerY th, 
.claroTable th.headerX, .claroTable .headerX th{
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX {
	background-color: #DDDEBC;
}


/*Claroline invisible links */

.invisible {
	color: #999999;
}

.invisible a, 
.invisible a:link, 
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible{
	color: #999999;
}

.correct{ color: #009900; }
.error{	color: #990000; }
.highlight { color: #cc6600; }

.claroRightMenu  {
  background-color: #DDDEBC;
}

.claroMessageBox {
	background-color: #FFCC33;
	color: #000;
}

.HelpText { color: #ccc; }