/******************************************************************************
                              MAIN HTML TAGS STYLE
 ******************************************************************************/

body {
 background-color:#E5E5E5;
 color:#000000;
 font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
 font-size: 14px;
 padding: 3px;
}

a:link, a:active, a:visited {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: none; 
  color : #DD6900;
}

a img {
	border:none;
	text-decoration: none;
}

/******************************************************************************
                              CLAROLINE TOP BANNER
 ******************************************************************************/


 /*----------------------------------------------------------------------------
                              MAIN BANNER SETTINGS
 ----------------------------------------------------------------------------*/

#topBanner
{
	background-color: #FFFFFF;
	padding: 0px;
}

#topBanner a,
#topBanner a:active,
#topBanner a:link,
#topBanner a:visited
{
	text-decoration:none;
	color: #333;
}

#topBanner a:hover
{
    color: #FFB848;
}

#topBanner hr
{
	display: none;
}

 /*----------------------------------------------------------------------------
                                  CAMPUS LINE
 ----------------------------------------------------------------------------*/

div#platformBanner
{
	padding: 5px;
	font-size: 120%;
    border: 1px solid #98AAB1;
}

#platformBanner a,
#platformBanner a:active,
#platformBanner a:link,
#platformBanner a:visited
{
   	color: #333333;
    font-weight: bold;
}

#platformBanner a:hover
{
	color: #336699;
    font-weight: bold;
}

div#siteName
{
	float: left;
	text-align: left;
}

div#institution
{
	text-align: right;
}

 /*----------------------------------------------------------------------------
                                   USER LINE
 ----------------------------------------------------------------------------*/

div#userBanner
{
   	padding: 5px;
    border: 1px solid #98AAB1;
    border-top: none;
    font-size: small;
}

#userBanner a,
#userBanner a:active,
#userBanner a:link,
#userBanner a:visited

{
    color: #333333;
}

#userBanner a:hover
{
    color: #336699;
}
div#userLinks
{
	text-align: left;
}

 /*----------------------------------------------------------------------------
                                  COURSE LINE
 ----------------------------------------------------------------------------*/
 
div#courseBanner
{
   	padding: 5px;
    border: 1px solid #98AAB1;
    border-top: none;
}

div#course
{
	text-align: left;
}

div#course span
{
   	display: block;
}

div#courseToolList
{
	float: right;
    text-align: right;
}

#courseBanner .courseName {
	font-size: 120%;
}

#courseBanner .courseCode {
	font-size: 80%;
}

#courseBanner form
{
	padding: 5px;
	margin: 0;
}

#courseBanner a,
#courseBanner a:active,
#courseBanner a:link,
#courseBanner a:visited {
		color:#cc6600;
}

#courseBanner a:hover {
		color:#336699;
}

 /*----------------------------------------------------------------------------
                                  BREAD CRUMB LINE
 ----------------------------------------------------------------------------*/

#breadCrumbLine
{
	background-color: #E5E5E5;
	border: none;
	font-size: 90%;
	padding-bottom: 5px;
}

#breadCrumbLine a,
#breadCrumbLine a:active,
#breadCrumbLine a:link,
#breadCrumbLine a:visited
{
	color:#333333;
}

#breadCrumbLine a:hover
{
	color:#336699;
}

#breadCrumbLine hr
{
	display: none;
}

#breadCrumb{}

#toolViewOption
{
	float: right;
	text-align: right;
}

/******************************************************************************
                             CLAROLINE BODY
 ******************************************************************************/

#claroBody
{
 padding: 5px;
 height: 100%;
 background-color: #FFFFFF;
 border: 1px #98AAB1 solid;
 background-image: url(./corporate/caliope.png);
 background-position: top right;
 background-repeat: no-repeat;
}


#claroBody a,
#claroBody a:active,
#claroBody a:link,
#claroBody a:visited
{
 color: #333333;
}

#claroBody a:hover
{
 color: #006699; 
}


/******************************************************************************
                              CLAROLINE FOOTER
 ******************************************************************************/

#footer
{
	font-size: small;
}

#footer hr
{
	display: none;
}

#footer a,
#footer a:active,
#footer a:link,
#footer a:visited
{
	color: #333333;
}
	
#footer a:hover
{
	color: #333333;
}

#platformManager
{
	float: left;
}

#poweredBy
{
	float: right;
	text-align: right;
}

#courseManager
{
	margin: auto;
	text-align: center;
}


/******************************************************************************
                             CLAROLINE TABLE
 ******************************************************************************/

/* Uniformize claroline table format. The class provide 3 header type
 *
 *     - superHeader : allowing to define table title above the column header
 *     - headerX : define header in the X axis for each column
 *     - headerY : define header in the Y axis for each rank
 * 
 * Example of table using a super header and header in X axis
 *
 * <table class="claroTable">
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * <tr class="headerX">
 * <th>Firstname</th>
 * <th>Lastname</th>
 * <th>Birthdate</th>
 * </tr>
 * 
 * <tbody>
 * 
 * <tr>
 * <td>Hugues</td>
 * <td>Peeters</td>
 * <td>1969-09-27</td>
 * </tr>
 * <tr>
 * ...
 * </tr>
 * 
 * </tbody>
 * 
 * </table>
 * 
 * Example of table using header in Y axis
 * 
 * 
 * <table class="claroTable">
 *
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Firstname</th>
 * <td>Hugues</td>
 * <td> ...  </td>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Lastname</th>
 * <td>Peeters</td>
 * <td> ...  </td>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Birthdate</th>
 * <td>1969-09-27</td>
 * <td> ...  </td>
 * </tr>
 *
 * </table>
 */
.claroTable {
 border: 2px solid #98AAB1;
}
.claroTable td, th {
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th, .claroTable th.superHeader {
	color: white;
    background-image: url('corporate/hard.gif');
	background-color: #03699c;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a,
.claroTable .superHeader a:link,
.claroTable .superHeader a:visited {
	color: white;
}

.claroTable .superHeader a:hover {
	color: #c7d0d7;
}

.claroTable th.headerY, .claroTable .headerY th,
.claroTable th.headerX, .claroTable .headerX th {
    background-image: url('corporate/soft.gif');
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX {
	background-color: #c7d0d7;
}

.claroTable tbody tr:hover {
	background-color: #EEEEEE;
}

.noHover {
	background-color: white;
}


/******************************************************************************
                             VARIOUS CLAROLINE CSS CLASS
 ******************************************************************************/

/*
 * 'claroMessageBox' is used to display all messages from the platform like 
 * action confirmation, parameter request, warning mesage...
 * Things that are usually displayed in a dialog box into offline applications
 */ 
 
.claroMessageBox {
  background-color: #E5ECF9;
  color: #336699;
  border-top: 1px solid #6699bb;
  border-left: 1px solid #6699bb;
  border-right: 1px solid #336699;
  border-bottom: 1px solid #336699;
}

.claroIntroSection { 
 /*  unused ? */
}

/*
 * 'invisible' is generally attached to element that shouldn't be visible into 
 * common user interface but which are visible in course manager or platform 
 * administrator screen, showing that the element is deactivated or isn't 
 * visible fo the other users
 */

.invisible  {
	color: #999999;
}

.invisible a, 
.invisible a:link, 
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible{
	color: #999999;
}


/* 'correct' is attached to element that must be highlighted as correct 
	example : a good score in exercices
*/
.correct {
	color: #009900;
}

/* 'error' is attached to element that must be highlighted as correct
	example : a wrong score in exercices
	example : an error message
*/
.error {
	color: #990000;
}

/* 
'highlight' 
*/
.highlight {
 color: #cc6600;
}


/*
 * 'rightMenu' is mainly use in the platform home page
 */

.claroRightMenu  {
  color: #000000;
  background-color: #E5ECF9;	
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 1px solid #D4D0C8;
  border-bottom: 1px solid #D4D0C8;
}

.claroRightMenu a,
.claroRightMenu a:link,
.claroRightMenu a:visited
{
	color: #333333;
}
	
.claroRightMenu a:hover
{
	color:#336699;
}


.HelpText {
    color:gray
}
