/******************************************************************************
                              MAIN HTML TAGS STYLE
 ******************************************************************************/

body {
 background-color:#E5E5E5;
 color:#000000;
 font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
 font-size: 14px;
 padding: 3px;
}

a:link, a:active, a:visited {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: none; 
  color : #DD6900;
}

a img {
	border:none;
	text-decoration: none;
}

a | img {
	border: 0px;
	text-decoration: none;
}

/******************************************************************************
                              CLAROLINE TOP BANNER
 ******************************************************************************/

 
 /*----------------------------------------------------------------------------
                              MAIN BANNER SETTINGS
 ----------------------------------------------------------------------------*/
 
.claroTopBanner {
 background-color: #FFFFFF; 
 border: 1px #98AAB1 solid;
 padding: 0px;
}

/*
 * ANCHORS BEHAVIOUR
 */
 
.claroTopBanner a {
  text-decoration:none;
  color: #33333;
}
.claroTopBanner a:hover {
  color: #FFB848;
}

/*
 * BORDER BEHAVIOR
 *
 * Note : Maybe you should change the color parameter
 * if you aim to change the page background color
 */

/*.claroTopBanner .platformBanner td,*/

.claroTopBanner .userBanner td  ,
.claroTopBanner .courseBanner td { 
	border-top:1px solid #98AAB1;
}


 /*----------------------------------------------------------------------------
                                  CAMPUS LINE
 ----------------------------------------------------------------------------*/

.claroTopBanner .platformBanner {
	color: #333333;
	font-size: 120%;
}

.claroTopBanner .platformBanner  a {
	color: #333333;
    font-weight: bold;
}

.claroTopBanner .platformBanner  a:hover {
	color: #336699;
    font-weight: bold;
}

 /*----------------------------------------------------------------------------
                                   USER LINE
 ----------------------------------------------------------------------------*/

.claroTopBanner .userBanner {
		
		color: #333333;
		margin-top: 2px solid #000000;
}

.claroTopBanner .userBanner a,
.claroTopBanner .userBanner a:link,
.claroTopBanner .userBanner a:visited {
		color: #333333;
}
.claroTopBanner .userBanner a:hover {
		color: #336699;
}

 /*----------------------------------------------------------------------------
                                  COURSE LINE
 ----------------------------------------------------------------------------*/

.claroTopBanner .courseBanner {
	/*background-color: #ffecce;*/
	color: #336699;
	font-weight:bold;
    border-top:1px solid #FFF;
}

.claroTopBanner .courseBanner p {
	margin: 0px;
}

.claroTopBanner .courseBanner p .courseName {
	font-size: 120%;
}

.claroTopBanner .courseBanner p .courseCode {
	font-size: 80%;
}


.claroTopBanner .courseBanner a,
.claroTopBanner .courseBanner a:link,
.claroTopBanner .courseBanner a:visited {
		color:#cc6600;
}
	
.claroTopBanner .courseBanner a:hover {
		color:#336699;		
}
 /*----------------------------------------------------------------------------
                                  BREAD CRUMB TRAIL
 ----------------------------------------------------------------------------*/

.claroBreadCrumbTrail {
 
}

.claroBreadCrumbTrail a,
.claroBreadCrumbTrail a:link,
.claroBreadCrumbTrail a:visited {
		color:#333333;
}
	
.claroBreadCrumbTrail a:hover {
		color:#336699;		
}



/******************************************************************************
                             CLAROLINE BODY
 ******************************************************************************/

.claroBody  {
 background-color: #FFFFFF; 
 border: 1px #98AAB1 solid;
 padding: 5px;
 height: 100%;
}


.claroBody a,
.claroBody a:visited,
.claroBody a:active
{
 color: #333333;
}

.claroBody a:hover
{
 color: #006699; 
}


/******************************************************************************
                              CLAROLINE FOOTER
 ******************************************************************************/

.claroFooter  {
	background-color: #FFFFF;
}

.claroFooter a, 
.claroFooter a:visited, 
.claroFooter a:active {	
 color: #333333;
}
	
.claroFooter a:hover {
 color: #333333;
 
}




/******************************************************************************
                             CLAROLINE TABLE
 ******************************************************************************/

/* Uniformize claroline table format. The class provide 3 header type
 *
 *     - superHeader : allowing to define table title above the column header
 *     - headerX : define header in the X axis for each column
 *     - headerY : define header in the Y axis for each rank
 * 
 * Example of table using a super header and header in X axis
 *
 * <table class="claroTable">
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * <tr class="headerX">
 * <th>Firstname</th>
 * <th>Lastname</th>
 * <th>Birthdate</th>
 * </tr>
 * 
 * <tbody>
 * 
 * <tr>
 * <td>Hugues</td>
 * <td>Peeters</td>
 * <td>1969-09-27</td>
 * </tr>
 * <tr>
 * ...
 * </tr>
 * 
 * </tbody>
 * 
 * </table>
 * 
 * Example of table using header in Y axis
 * 
 * 
 * <table class="claroTable">
 *
 * <tr class="superHeader">
 * <th colspan="3">User Birthdate</th>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Firstname</th>
 * <td>Hugues</td>
 * <td> ...  </td>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Lastname</th>
 * <td>Peeters</td>
 * <td> ...  </td>
 * </tr>
 * 
 * <tr>
 * <th class="headerY">Birthdate</th>
 * <td>1969-09-27</td>
 * <td> ...  </td>
 * </tr>
 *
 * </table>
 */
.claroTable {
 border: 2px solid #98AAB1;
}
.claroTable td, th {
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th, .claroTable th.superHeader {
	color: white;
    background-image: url('corporate/hard.gif');
	background-color: #03699c;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a,
.claroTable .superHeader a:link,
.claroTable .superHeader a:visited {
	color: white;
}


.claroTable th.headerY, .claroTable .headerY th, 
.claroTable th.headerX, .claroTable .headerX th {
    background-image: url('corporate/soft.gif');
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX {
	background-color: #c7d0d7;
}

.claroTable tbody tr:hover {
	background-color: #EEEEEE;
}
.noHover {
	background-color: white;
}


/******************************************************************************
                             VARIOUS CLAROLINE CSS CLASS
 ******************************************************************************/

/*
 * 'claroMessageBox' is used to display all messages from the platform like 
 * action confirmation, parameter request, warning mesage...
 * Things that are usually displayed in a dialog box into offline applications
 */ 
 
.claroMessageBox {
	background-color: #FF9900;
  color: #000000;
  border:1px solid #666;
}

.claroIntroSection { 
	background-color: #F5F5F5;
}

/*
 * 'invisible' is generally attached to element that shouldn't be visible into 
 * common user interface but which are visible in course manager or platform 
 * administrator screen, showing that the element is deactivated or isn't 
 * visible fo the other users
 */

.invisible  {
	color: #999999;
}

.invisible a, 
.invisible a:link, 
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible{
	color: #999999;
}


/* 'correct' is attached to element that must be highlighted as correct 
	example : a good score in exercices
*/
.correct {
	color: #009900;
}

/* 'incorrect' is attached to element that must be highlighted as correct 
	example : a wrong score in exercices
*/
.incorrect {
	color: #990000;
}

/* 'highlight' */
.highlight {
	color: #FFB848;
}

/*
 * 'rightMenu' is mainly use in the platform home page
 */

.claroRightMenu  {
  color: #000000;
  background-color: #E5ECF9;	
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #D4D0C8;
  border-bottom: 1px solid #D4D0C8;
}

.claroRightMenu a,
.claroRightMenu a:link,
.claroRightMenu a:visited {
		color: #333333;
}
	
.claroRightMenu a:hover {
		color:#369;
}



.HelpText {
    color:gray
}


/*
 * MOOSH ATTIC -- could be nice if one can put some order here ...
 */
 
.alternativeBgLight { background-color: #F5F5F5; }
.alternativeBgDark 	{ background-color: #E6E6E6; }
.forms 		{ background-color : #E6E6E6; letter-spacing: normal; text-align: justify; text-indent: 3pt; word-spacing: normal; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px ; }
.formsTips	{ text-align: justify; text-indent: 15pt; word-spacing: normal; }
INPUT.forms	{ letter-spacing: normal; text-align: justify; text-indent: 3pt;	word-spacing: normal;	padding-top: 0px;	padding-right: 0px;	padding-bottom: 0px;	padding-left: 0px;}
.warn {	border: thin double Silver;	margin-left: 15px;	margin-right: 15px;  font-family: serif;  color: Red;  padding-left: 25px;    }
.typeElement { border: thin sol id #E6E6E6; margin-left: 15px;	margin-right: 25px;padding-left: 25px;color:#003399 }
.claro_listInTable tr:hover {background-color: #CCCCCC;}
