/******************************************************************************
                              MAIN HTML TAGS STYLE
 ******************************************************************************/

body 
{
	background-color:#E5E5E5;
	color:#000;
	font-family: Verdana, 'bitstream vera sans',Arial,Helvetica,sans-serif;
	font-size: 85%;
	padding: 3px;
}

a, a:link, a:active, a:visited 
{
	color: #333;
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline; 
	color: #069;
}

a img {
	border:none;
	text-decoration: none;
}

.spacer
{
	clear: both;
}

h3{	font-size: 110%; }
/******************************************************************************
                              CLAROLINE TOP BANNER
 ******************************************************************************/


 /*----------------------------------------------------------------------------
                              MAIN BANNER SETTINGS
 ----------------------------------------------------------------------------*/

#topBanner
{
	background-color: #fff;
	padding: 0px;
	position: relative;
}

#topBanner a,
#topBanner a:active,
#topBanner a:link,
#topBanner a:visited
{
	text-decoration:none;
	color: #333;
}

#topBanner a:hover
{
    color: #FFB848;
}

 /*----------------------------------------------------------------------------
                                  CAMPUS LINE
 ----------------------------------------------------------------------------*/

#platformBanner
{
	padding: 5px;
	border: 1px solid #98AAB1;
}

#platformBanner h1
{
	margin: 0;
	font-size: 120%;
}

#platformBanner a,
#platformBanner a:active,
#platformBanner a:link,
#platformBanner a:visited
{
   	color: #333;
    font-weight: bold;
}

#platformBanner a:hover
{
	color: #369;
    font-weight: bold;
}

#platformBanner #siteName
{
}

#platformBanner #institution
{
}


#campusBannerRight
{
    position: relative;
	float: right;
	text-align: right;
	margin: 0;
}

#campusBannerLeft
{
    position: relative;
	float: left;
	text-align: left;
	margin: 0;
}

 /*----------------------------------------------------------------------------
                                   USER LINE
 ----------------------------------------------------------------------------*/

#userBanner
{
	padding: 5px;
	border: 1px solid #98AAB1;
	border-top: none;
	font-size: small;
}

#userBanner #userName
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#userBanner a,
#userBanner a:active,
#userBanner a:link,
#userBanner a:visited
{
    color: #333;
}

#userBanner a:hover
{
    text-decoration: underline;
    color: #369;

}

#userBannerRight
{
    position: relative;
	float: right;
	text-align: right;
	margin: 0;
}

#userBannerLeft
{
    position: relative;
	float: left;
	text-align: left;
	margin: 0;
}

 /*----------------------------------------------------------------------------
                                  COURSE LINE
 ----------------------------------------------------------------------------*/
 
#courseBanner
{
   	padding: 5px;
	border: 1px solid #98AAB1;
	border-top: none;
}

#courseBanner #course
{
	position: relative;
	float: left;
	text-align: left;
}

#courseBanner #course span
{
   	display: block;
}

#courseBanner #courseToolList
{
	position: relative;
	float: right;
	text-align: right;
}

#courseBanner #courseName
{
	font-size: 120%;
	margin: 0;
	padding: 0;
}

#courseBanner #courseCode
{
	font-size: 80%;
}

#courseBanner a,
#courseBanner a:active,
#courseBanner a:link,
#courseBanner a:visited
{
	color:#c60;
}

#courseBanner a:hover
{
	color:#369;
}

#courseBanner form
{
	padding-top: 5px;
	margin: 0;
}

#courseBannerRight
{
    position: relative;
	float: right;
	text-align: right;
	margin: 0;
}

#courseBannerLeft
{
    position: relative;
	float: left;
	text-align: left;
	margin: 0;
}

 /*----------------------------------------------------------------------------
                                  BREAD CRUMB LINE
 ----------------------------------------------------------------------------*/

#breadcrumbLine
{
	height: 1em;
	background-color: #E5E5E5;
	border: none;
	padding-bottom: 5px;
}

#breadcrumbLine a,
#breadcrumbLine a:active,
#breadcrumbLine a:link,
#breadcrumbLine a:visited
{
	color:#333;
}

#breadcrumbLine a:hover
{
	color:#369;
}

#breadcrumbLine hr
{
	display: none;
}

#breadcrumbLine .breadcrumbTrail
{
	float: left;
}

#breadcrumbLine #toolViewOption
{
	font-size: 90%;
	float: right;
	text-align: right;
}

.breadcrumbTrail 
{
	font-size: 90%;
}

/******************************************************************************
                             CLAROLINE BODY
 ******************************************************************************/

#claroBody
{
	padding: 5px;
 	background-color: #FFF;
	border: 1px #98AAB1 solid;
	background-image: url(./corporate/caliope.png);
	background-position: top right;
	background-repeat: no-repeat;
}

/******************************************************************************
                              CLAROLINE FOOTER
 ******************************************************************************/

#campusFooter
{
	font-size: small;
}

#campusFooter hr
{
	display: none;
}

#campusFooterRight
{
	float: right;
}

#campusFooterLeft
{
	float: left;	
}

#campusFooter a,
#campusFooter a:active,
#campusFooter a:link,
#campusFooter a:visited
{
	color: #333;
}
	
#campusFooter a:hover
{
	color: #333;
}

#campusFooter #platformManager
{
	float: right;
}

#campusFooter #courseManager
{
	float: left;
	text-align: center;
}



#campusFooter #poweredBy 
{
	clear: both;
	border-top: 1px dashed #ccc;
	text-align: center;
}

/******************************************************************************
	CLAROLINE COMMAND LINKS
 ******************************************************************************/
 
.claroCmd
{
		font-size: smaller;
		font-weight: bold;
		text-decoration: underline;
}

.claroCmdDisabled 
{
		color: Gray;
		font-size: smaller;
		font-weight: bold;
		text-decoration: none;
}

/* Added for document view mode toolbar */

th .claroCmd{
        font-size: smaller;
		font-weight: bold;
		text-decoration: underline;
}

th .claroCmdDisabled{
        color: white;
        font-size: smaller;
		font-weight: bold;
		text-decoration: none;
}

/******************************************************************************
                             CLAROLINE ITEM
 ******************************************************************************/
.item 
{
	padding-left: 16px;
}

.hot
{
	background: url(../img/hot.gif) no-repeat;
}
/******************************************************************************
                             CLAROLINE TABLE
 ******************************************************************************/

.claroTable
{
	border: 2px solid #98AAB1;
}
.claroTable td, th
{
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th, .claroTable th.superHeader
{
	color: white;
    background-image: url('corporate/hard.gif');
	background-color: #03699c;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a,
.claroTable .superHeader a:link,
.claroTable .superHeader a:visited
{
	color: white;
}

.claroTable .superHeader a:hover { color: #c7d0d7; }

.claroTable th.headerY, .claroTable .headerY th,
.claroTable th.headerX, .claroTable .headerX th
{
    background-image: url('corporate/soft.gif');
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX 
{ background-color: #c7d0d7; }

/* extension of claroTable class for Image Viewer */
.claroTable tr th.toolbar 
{
	background: white;
	font-weight: normal;
}

.claroTable tr.toolbar th.prev{
	text-align:left;
	font-weight: normal;
}

.claroTable tr.toolbar th.title{
	font-weight:bold;
	text-align:center;
}

.claroTable tr.toolbar th.next{
	text-align:right;
	font-weight: normal;
}

.emphaseLine tbody td
{
	border-bottom: solid #98AAB1 1px ;
}

.emphaseLine tbody tr:hover
{
	background-color: #EEEEEE;
}


/******************************************************************************
                             VARIOUS CLAROLINE CSS CLASS
 ******************************************************************************/

/*
 * 'claroMessageBox' is used to display all messages from the platform like 
 * action confirmation, parameter request, warning mesage...
 * Things that are usually displayed in a dialog box into offline applications
 */ 
 
.claroMessageBox
{
  background-color: #E5ECF9;
  color: #369;
  border: 1px solid #369;
}

.claroIntroSection
{ 
	border: dashed 1px #D8D8D8;
	padding: 10px;
	margin-top : 10px;
	margin-bottom: 10px;
}

.claroIntroSection hr
{
	border: 0;
	height: 1px;
	background-color: #D8D8D8;
}

/*
 * 'invisible' is generally attached to element that shouldn't be visible into 
 * common user interface but which are visible in course manager or platform 
 * administrator screen, showing that the element is deactivated or isn't 
 * visible fo the other users
 */

.invisible
{
	color: #999;
}

.invisible a, 
.invisible a:link, 
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible{
	color: #999;
}


/* 'correct' is attached to element that must be highlighted as correct 
	example : a good score in exercices
*/
.correct
{ 
	color: #090;
}

/* 'error' is attached to element that must be highlighted as correct
	example : a wrong score in exercices
	example : an error message
*/
.error
{
	color: #900;
}

/* 
'highlight' 
*/
.highlight
{
	color: #c60;
}

/*
 * 'rightMenu' is mainly use in the platform home page
 */

.claroRightMenu
{
	color: #000;
	background-color: #E5ECF9;	
	border: 1px solid #808080;
}

.claroRightMenu a,
.claroRightMenu a:link,
.claroRightMenu a:visited
{
	color: #333;
}
	
.claroRightMenu a:hover
{
	color:#369;
}

.HelpText
{
	color: #ccc;
}

/*
 * 'comment' is used for comment of documents, forum description, ...
 */

.comment
{
    font-size: smaller;
    margin-left: 30px;
}
