/******************************************************************************
                              MAIN HTML TAGS STYLE
 ******************************************************************************/

body {
	background-color:#FFFFFF;
	color:#000000;
	font-family: verdana, 'bitstream vera sans',Arial,Helvetica,sans-serif;
	padding: 0;
	margin: 0;
}

a:link, a:active, a:visited {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #FFB848;
}

a img {
	border:none;
	text-decoration: none;
}

.spacer
{
	clear: both;
}

h3{	font-size: 110%; }
/******************************************************************************
                              CLAROLINE TOP BANNER
 ******************************************************************************/

 
 /*----------------------------------------------------------------------------
                              MAIN BANNER SETTINGS
 ----------------------------------------------------------------------------*/

#topBanner hr
{
	display: none;
}


#topBanner 
{
	position: relative;
	padding: 0;
}

#topBanner h1
{
	margin: 0;
	font-size: 120%;
}

#topBanner h2
{
	margin: 0;
}
 /*----------------------------------------------------------------------------
                                  CAMPUS LINE
 ----------------------------------------------------------------------------*/
#platformBanner
{
	background-color:#FFB848;
	color: #333;
	font-size: 120%;
	padding: 4px;
	border-bottom: 1px solid #000;
}

#platformBanner a,
#platformBanner a:active,
#platformBanner a:link,
#platformBanner a:visited
{
	text-decoration: none;
   	color: #333;
}

#platformBanner a:hover
{
	color: #fff;
}

#siteName
{
	position: relative;
	float: left;
	text-align: left;
}

#institution
{
	position: relative;
	float: right;
	text-align: right;
}

 /*----------------------------------------------------------------------------
                                   USER LINE
 ----------------------------------------------------------------------------*/
#userBanner
{
	background-color: #FDD088;
	color: #333;
	font-size: 80%;
	padding: 4px;
	border-bottom: 1px solid #000;
}

#userBanner h2
{
	 display: inline;
	 font-size: 115%;
	 margin: 0px;
}

#userLinks
{
	text-align: left;
}

#userBanner ul
{
	display: inline;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

#userBanner li 
{
	display: inline;
	margin: 0;
	list-style-type: none;
	padding-left: 6px;
	padding-right: 5px;
	border-left: 1px solid #333;
}

#userBanner li a,
#userBanner li a:active,
#userBanner li a:link,
#userBanner li a:visited
{
    color: #333;
}

#userBanner li a:hover
{
	text-decoration: underline;
    color: #369;
	
}
 /*----------------------------------------------------------------------------
                                  COURSE LINE
 ----------------------------------------------------------------------------*/
#courseBanner
{
   	padding: 4px;
	background-color: #fec;
	color: #036;
	font-weight:bold;
	border-bottom: 1px solid #000;
}

#course
{
	position: relative;
	float: left;
	text-align: left;
}

#course span
{
   	display: block;
}

#courseToolList
{
	position: relative;
	float: right;
    text-align: right;
}

#courseBanner .courseName {
	font-size: 120%;
}

#courseBanner .courseName a,
#courseBanner .courseName a:active,
#courseBanner .courseName a:link,
#courseBanner .courseName a:visited
{
	color: #c60;
	text-decoration: none;
}

#courseBanner .courseName a:hover
{
	color: #369;
}

#courseBanner .courseCode {
	font-size: 80%;
}

#courseBanner form
{
	padding: 5px;
	margin: 0;
}

 /*----------------------------------------------------------------------------
                                  BREAD CRUMB TRAIL
 ----------------------------------------------------------------------------*/
#breadCrumbLine
{
	border: none;
	font-size: 90%;
	padding-bottom: 5px;
}

#breadCrumbLine ul
{
	float: left;
	margin: 0;
	padding: 0;
}

#breadCrumbLine ul li
{
	display: inline;
	margin: 0;
	padding-left: 10px;
	background-image: url(corporate/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}

#breadCrumbLine #home
{
	margin: 0;
	border: none;
	list-style-type: none;
	padding-left: 0;
	background: none;
}

#breadCrumbLine a,
#breadCrumbLine a:active,
#breadCrumbLine a:link,
#breadCrumbLine a:visited
{
	color:#c60;
}

#breadCrumbLine a:hover
{
	color:#FFB848;
}

#breadCrumbLine hr
{
	display: none;
}

#toolViewOption
{
	float: right;
	text-align: right;
}
/******************************************************************************
                             CLAROLINE BODY
 ******************************************************************************/

#claroBody
{
	padding-left: 10px;
	padding-right: 10px;
}


/******************************************************************************
                              CLAROLINE FOOTER
 ******************************************************************************/

#footer
{
	background-color: #FFFFF;
	font-size: 80%;
}

#footer hr
{
	border: 0;
	height: 1px;
	background-color: gray;
}

#platformManager
{
	float: right;
	padding-right: 10px;	
}

#courseManager
{
	float: left;
	text-align: center;
	padding-left: 10px;
}

#poweredBy
{
	clear: both;
	text-align: center;
}


/******************************************************************************
                             CLAROLINE TABLE
 ******************************************************************************/
.claroTable td, th {
	margin:  1px;
	padding: 4px;
	border: none;
}


.claroTable .superHeader th, .claroTable th.superHeader {
	color: #333333;
	background-color: #FDD088;
	font-weight: bold;
	text-align: left;
}

.claroTable .superHeader a,
.claroTable .superHeader a:link,
.claroTable .superHeader a:visited {
	color: white;
}


.claroTable th.headerY, .claroTable .headerY th, 
.claroTable th.headerX, .claroTable .headerX th {
	font-weight: normal;
	text-align: left;
}

.claroTable .headerX th,  .claroTable th.headerX {
	background-color: #ffecce;
}

.claroTable tbody tr:hover {
	background-color: #EEEEEE;
}
.noHover {
	background-color: white;
}


/******************************************************************************
                             VARIOUS CLAROLINE CSS CLASS
 ******************************************************************************/

/*
 * 'claroMessageBox' is used to display all messages from the platform like 
 * action confirmation, parameter request, warning mesage...
 * Things that are usually displayed in a dialog box into offline applications
 */ 
 
.claroMessageBox {
	background-color: #FF9900;
  color: #000000;
  border:1px solid #666;
}

.claroIntroSection { 
	background-color: #F5F5F5;
}

/*
 * 'invisible' is generally attached to element that shouldn't be visible into 
 * common user interface but which are visible in course manager or platform 
 * administrator screen, showing that the element is deactivated or isn't 
 * visible fo the other users
 */

.invisible  {
	color: #999999;
}

.invisible a, 
.invisible a:link, 
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible{
	color: #999999;
}


/* 'correct' is attached to element that must be highlighted as correct 
	example : a good score in exercices
*/
.correct {
	color: #009900;
}

/* 'incorrect' is attached to element that must be highlighted as correct 
	example : a wrong score in exercices
*/
.incorrect {
	color: #990000;
}

/* 'highlight' */
.highlight {
	color: #FFB848;
}

/*
 * 'rightMenu' is mainly use in the platform home page
 */

.claroRightMenu  {
	color: #000000;
	background-color: #ffecce;	
	border: 1px solid #666;
}

.claroRightMenu a,
.claroRightMenu a:link,
.claroRightMenu a:visited {
	color:#c60;
}
	
.claroRightMenu a:hover {
	color:#369;
}



.HelpText {
    color:gray
}
