
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 1em;	
}

body {
	margin: 0;
	padding: 0;
	color: #444;
	background: #FFF; 
	text-align: left;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 1em;
	height: 100%;
}

#installer {
    background : #DDD;
	font-size: 0.9em;
    
}
 
#installer th {
    background: #369;
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 1.3em;
    padding: 10px 15px 10px 15px;
	border-top: 3px solid #010065;
	border-bottom: 1px #999 solid;
} 

.panel {
    background : #DDD;
	font-size: 0.9em;
	width: 575px;

}

.progressPanel{
    background : #FFF;
    padding-top: 5px;
    padding-bottom: 15px;
}

.progressPanel IMG{
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 3px;
    float: right;
}

.progress B
{
    font-size: 100%;
    padding-right: 5px;
    margin-left: 3px;
}

.progress{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 3px;
    font-size: 90%;
    background : #FFFFFF;
    padding-top: 3px;
}
.progress.active {
    border: medium solid #FFFFFF;
    border-right:0px;
    background : #DDDDDD;
    font-weight: bold;
    -moz-border-radius-bottomleft: 50%;
    -moz-border-radius-topleft: 50%;

}

.progress.success {
    background : #FFFFFF;
}

.progress.done {
    color: #000;
}

.progress.error {
    background : #FFBBBB;
    border: medium solid #FFFFFF;
    border-left:0px;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-topright: 50%;
}

.progress.todo {
    color : #666;
    -moz-opacity: 80;
}

.setup_error {
    padding: 5px;
}
