/**
 $Id$
 **/

/* Portlet messages */
.portlet table.claroTable tbody tr.unreadMessage td {
    background: #EDF1E3;
}

.portlet table.claroTable.emphaseLine tbody tr:hover td {
    background-color: #d5d5d5;
}

/* Portlet course list */
.mycourselist table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.userCommands {
    width: 20%;
    padding-right: 20px;
}

.userCourseList {
    width: 80%;
    padding-left: 20px;
}

.userCommands ul {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.userCourseList dl {
    width: 100%;
    max-height: 20em;
    overflow: auto;
    
    /* IE hack 
    _height: expression( Math.min(parseInt(this.offsetHeight), 100) ); */
}

.userCourseList dl dt {
    padding-left: 0px;
}

.userCourseList dl dd {
    padding-left: 20px;
}

/* Portlet calendar */
#portletMycalendar .calendar {
    min-width: 250px;
    float: left;
    max-width: 30%;
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#portletMycalendar .details {
    min-width: 200px;
    margin-left: 280px;
    padding: 0 1em 0.1em 1em;
    overflow: auto;
}
 
#portletMycalendar .dayWithEvent {
    background-color: #EDF1E3;
}

dl.calendarDetails dd {
    margin-left: 20px;
}

/* Portlet right menu  */
.portletRightMenu {
    padding: 2px;
    margin: 10px 0 0 0;
    float:right;
    width:200px;
}


.avatar img {
    margin:1em;
}

.config {
    padding: 0;
    margin: 15px 240px 15px 0;
}

.config td {
    text-align:center;
}

.hideul {
    background: transparent url(../../claroline/desktop/img/hide.png) no-repeat top left; 
}

.showul {
    background: transparent url(../../claroline/desktop/img/show.png) no-repeat top left; 
}

#portletMyAnnouncements {
    max-height: 20em;
    overflow: auto;
    
    /* IE hack 
    _height: expression( Math.min(parseInt(this.offsetHeight), 100) ); */
}

#portletMyAnnouncements dd {
    margin: 0 0 0 20px;
}