/**
 $Id: default.css 11434 2008-10-28 10:48:51 +0000 (mar., 28 oct. 2008) fragile_be $
 **/

/* Portlet */
.portlet h4 {
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
}

.portlet dl, 
.portlet dt, 
.portlet dd {
    margin: 0;
    padding: 0;
}

.portlet ul, 
.portlet dl {
    margin-bottom: 15px;
}

.portletContent {
    margin-top: 0.3em;
    padding: 5px;
}

.porletIcon {
    float:right;
    margin:auto;
    padding:0;
}

.portlet dd {
    margin-bottom: 0.5em;
}

.portlet .iconDefinitionList {
    list-style-position:inside;
    margin:0;
    padding:0;
}

/* Portlet courselist */
dl.userCourseList dd {
    margin-left: 20px;
}

/* Portlet right menu  */
.portletRightMenu {
    padding: 2px;
    margin: 10px 0 0 0;
    float:right;
    width:200px;
}

/* portlet Mycalendar */
#portletMycalendar .calendar {
    min-width: 250px;
    float: left;
    max-width: 30%;
    width: 30%;
    margin: 0;
    height: 300px;
    padding: 0;
    text-align: center;
}

#portletMycalendar .details {
    min-width: 200px;
    margin-left: 280px;
    padding: 0 1em 0.1em 1em;
    height: 300px;
    overflow: auto;
    /* border-left: 1px solid #ccc; */
}
 
#portletMycalendar .dayWithEvent {
    background-color:silver;
}

dl.calendarDetails dd {
    margin-left: 20px;
}


.avatar img {
    margin:1em;
}

.config {
    padding: 0;
    margin: 15px 240px 15px 0;
}

.config td {
    text-align:center;
}

.hideul {
    background: transparent url(../../claroline/desktop/img/hide.png) no-repeat top left; 
}

.showul {
    background: transparent url(../../claroline/desktop/img/show.png) no-repeat top left; 
}

#portletMyCourseList {
    max-height: 20em;
    overflow: auto;
    
    /* IE hack 
    _height: expression( Math.min(parseInt(this.offsetHeight), 100) ); */
}

#portletMyCourseList dd {
    padding: 0 0 0 20px;
}

#portletMyCourseList dt {
    padding-left: 0px;
}

#portletMyAnnouncements {
    max-height: 20em;
    overflow: auto;
    
    /* IE hack 
    _height: expression( Math.min(parseInt(this.offsetHeight), 100) ); */
}