/* portlet */

.portlet 
{
    border: 1px solid #96BB7A;
    padding: 2px 5px 2px 5px;
    margin: 15px 240px 15px 0;
    background-color: #EDF1E3;
}

.portletTitle
{
    color: #669933;
    font-weight: bold;
}

.portletContent
{
    margin-top: 0.3em;
	padding: 5px;
	background: #FFF;
}

.porletIcon
{
    float:right;
    margin:auto;
    padding:0;
}

.portlet dl, .portlet dt, .portlet dd
{
    margin: 0;
	padding: 0;
}

.portlet dt
{
    margin-top: 0.5em;
}

.portlet .iconDefinitionList
{
    list-style-position:inside;
    margin:0 0.5em 0 0;
    padding:0;
}

/* portlet right menu  */

.portletRightMenu
{
    border: 1px solid #96BB7A;
    padding: 2px 5px 2px 5px;
    margin: 10px 0 0 0;
    float:right;
    width:200px;
    background-color: #EDF1E3;
}

/* portlet myprofil */
 
 #portletMyprofil #picture
 {
    margin: 0;
    padding-top: 0.3em;
    text-align: center;
 }

 #portletMyprofil #picture .pic {
    border: 1px solid #AAA; 
    background-color: #DDD; 
    width: 100px; 
    height: 125px; 
    margin: auto;
    font-size: small; 
    color: #AAA;
 }
 
 #portletMyprofil #details
 {
  padding-top: 0.5em;
  clear:both;
 }

 #portletMyprofil #details span
 {
  font-size: small;
  font-weight: bold;
 }

/* portlet mycalendar */

 #portletMycalendar .calendar
 {
  float: left;
  max-width: 30%;
  margin: 0;
  padding: 0.3em 1em 0.3em 1em;
  text-align: center;
 }
 
 #portletMycalendar .details
 {
  margin-left: 33%;
  padding: 0 1em 0.1em 1em;
  border-left: 1px solid #ccc;
 }
 
 #portletMycalendar .dayWithEvent 
{
  background-color:silver;
}

/* portlet stat */
/*
 .statBlock
 {
 	width: 100%;
 	margin-bottom: 1em;
 }

 .statBlock .blockHeader
 {
 	text-align: left;
 	border-bottom: 1px #ccc solid;
 	padding: 3px;
 	font-weight: bold;
 }

 .statBlock .blockContent
 {
 	padding: 3px;
 }

 .statBlock .blockContent table
 {
 	width: 100%;
 }

 .statBlock .blockFooter
 {
 	text-align: right;
 	font-size: small;
 	padding: 3px;
 }