/**
 $Id: default.css 11434 2008-10-28 10:48:51 +0000 (mar., 28 oct. 2008) fragile_be $
 **/


#userProfileBox {
}

#userProfileBox #userProfileTitle
{
    /*color: #669933;
    font-weight: bold;*/
}

#userProfileBox #userProfile
{
    margin-top: 0.3em;
    padding: 5px;
}

#userProfileBox #userPicture {
    margin: 0;
    padding-top: 0.3em;
    text-align: center;
}

#userProfileBox #userDetails {
    padding-top: 0.5em;
    clear:both;
}

#userProfileBox #userDetails span {
    font-size: 0.9em;
    font-weight: bold;
}