<?php # $Id$

/***** INDEX CONFIG */

//******************************************* Cat LIST option
define("CONFVAL_showNodeEmpty",TRUE);
define("CONFVAL_showNumberOfChild",TRUE); // actually  count are only for direct childs
define("CONFVAL_ShowLinkBackToTopOfTree",false);

//******************************************* Course List Option
define("CONFVAL_showCourseLangIfNotSameThatPlatform",TRUE);


//******************************************* preview of course content
// to dislab all  set CONFVAL_maxTotalByCourse = 0
define("CONFVAL_maxValvasByCourse",3); // Maximum number of entries
define("CONFVAL_maxAgendaByCourse",1); //  collected from each course
define("CONFVAL_maxTotalByCourse",4); //  and displayed in summary.

define("CONFVAL_NB_CHAR_FROM_CONTENT",80);

//$dateFormatForInfosFromCourses = $dateFormatShort;
$dateFormatForInfosFromCourses = $dateFormatLong;

?>
