<?php

class shibbolethAuthDriver extends sso
{
    private $driver;
    
    public function __construct( $driver )
    {
        $this->driver = $driver;
    }
    
    private function samlEncodeMessage( $msg )
    {
        $encmsg= utf8_encode( $msg );
        $encmsg = base64_encode($encmsg);
     
        return $encmsg;
    }
    
    private function base64url_encode( $plainText )
    {
        $base64 = base64_encode( $plainText );
        $base64url = strtr( $base64, '+/', '-_');
        return $base64url;
    }
    
    public function displayAuthForm()
    {
        $now = time();
        $_SESSION['shibboleth']['session_id'] = 'id_' . $now;
        $issuedate=date('c', $now);
        $samlRequest = '<samlp:AuthnRequest
            xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
            xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
            ID="id_' . $now .'"
            Version="2.0"
            IssueInstant="' . $issuedate . '"
            AssertionConsumerServiceIndex="0"
            AttributeConsumingServiceIndex="0"
            >
                <saml:Issuer>http://130.104.58.231/claroline/</saml:Issuer>                
            </samlp:AuthnRequest>';
        
        $samlRequest = $this->samlEncodeMessage($samlRequest);
        
        $out = '';
        
        
        $out .= '<form method="POST" action="' . $this->driver['url'] . '">' . "\n"
        .   '<input type="hidden" name="SAMLRequest" value="' . $samlRequest . '">' . "\n"
        .   '<input type="hidden" name="RelayState" value="target"/>' . "\n"
        .   '<input type="submit" value="' . $this->driver['name'] . '" />' . "\n"
        .   '</form>' . "\n"
        ;
        
        return $out;
    }
}

// Driver definition
$driverConfig['shibboleth']['driver'] = array(
    'enabled' => true,
    'url' =>  'https://pcwin889.win.tue.nl:8443/idp/profile/SAML2/POST/SSO',
    'name'=> 'Grapple Login (Shibboleth)',
    'class' => 'shibbolethAuthDriver'
);

?>