fieldset dl dt {
    float: left;
    width: 20%;
    padding: 1px;
}

fieldset dl dd {
    float: left;
    padding: 1px;
    width: 70%;
}

fieldset dl dd dl.options dt {    
    float: left;
    width: auto;
}

fieldset dl dd dl.options dd {
    float: none;
    width: auto;
}

fieldset input.radio{
    float: left;
}

fieldset input.checkbox{
    float: left;
}

fieldset dt label {
    margin: 1px;
	left: -0.5em;
	padding: 0 1em 1px 0;
	position: relative;
	width: 200px;
}

input.radio,
input.checkbox {
	cursor: pointer;
	height: 1em;
	margin: 0;
	vertical-align: middle;
	width: 1em;
}



